@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
#body{
    margin-top: 15px;
}
h1{
    background-color: rgb(72, 135, 252);
    width: 400px;
    margin: 0 0 20px 555px;
    color: white;
}
.button{
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 20px;
    font-size: 23px;
    margin: 0 3px;
    border: 2px solid rgb(75, 52, 201);
    border-radius: 5px;
    cursor: pointer;
}

.line{
    width: 92%;
    height: 1px;
    color: black;
}
.row{
    margin: 10px, 200;
    padding: 3px;
}
.row input{
    font-size: 20px;
    margin-bottom: 10px;
    vertical-align: center;
    margin-left: 10px;
    padding: 17px 12px;
    border: 2px solid rgb(75, 52, 201);
    border-radius: 5px;
    width: 244px;
} 