@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    background: linear-gradient(to right, #2196f3, #f44336);
}
#body{
    margin-top: 15px;
}
#bk{
    margin-top: 50px;
}
h1{
    /* background-color: rgb(72, 135, 252); */
    background: linear-gradient(to right, #b2459190, #f15f79);
    margin-top: 50px;
    width: 500px;
    height: 42px;
    color: white;
    font-size:35px;
    border-radius: 5px;
}
.button{
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 20px;
    font-size: 23px;
    margin: 0 3px;
    color:white;
    background: radial-gradient(#5e838c99, #3b75a48e);
    /* background: linear-gradient(to right, #8e9eab, #eef2f3); */
    border: 2px solid rgba(166, 241, 74, 0.489);
    border-radius: 5px;
    cursor: pointer;
}

.line{
    width: 92%;
    height: 1px;
    color: black;
}
.row{
    margin: 10px, 200;
    padding: 3px;
}
.row input{
    font-size: 20px;
    margin-bottom: 10px;
    vertical-align: center;
    margin-left: 10px;
    padding: 17px 12px;
    color: white;
    background: linear-gradient(to right, #b2459190, #f15f79);
    border: 2px solid rgba(166, 241, 74, 0.489);
    border-radius: 5px;
    width: 282px;
} 