
.text-center{
    text-align: center;
    font: GOTHIC;
}
.bg-red{
    background: linear-gradient(to left, #b24592, #f15f79);
    width: 350px;
    height: 500px;
    border-radius: 5px;
}
.mx-auto{
    margin: auto;
}
.flex {
display: flex;
}
.flex-col{
flex-direction: column;
}
.items-center{
    align-items: center;
}